<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LessonTypeMapper">
	
	<select id="getTypeManageList" parameterType="pd" resultType="pd">
		select
			a.id,
			a.title,
			a.introduction,
			b.name rec_name,
			a.rec_id,
			DATE_FORMAT( a.rec_date, '%Y-%m-%d' ) rec_date,
			#{user.USER_ID} login_id,
			c.dd_item_name lesson_type_name,
			a.rec_id &lt;=&gt; #{user.USER_ID} is_edit
		from
			t_lesson_type_info a
			left join sys_user b on a.rec_id = b.USER_ID 
			left join t_ddw c on c.data_type_code = 1001  and a.lesson_type = c.dd_item_code
		where
			1 = 1
		<if test="title != null and title != ''">
		 	and a.title like concat('%', #{title}, '%')
		 </if>
		order by a.order_num, a.rec_date desc
	</select>
	
	<select id="getHyList" parameterType="pd" resultType="pd">
		select
			a.dd_item_code param_value,
			a.dd_item_name param_name 
		from
			t_ddw a 
		where
			a.data_type_code = 1001 
		order by
			a.order_id
	</select>
	
	<insert id="saveInformation" parameterType="pd">
		insert into t_lesson_type_info ( title, introduction, lesson_type, 
		<if test="order_num != null and order_num != ''">
			order_num, 
		</if>
		content, rec_id, rec_date )
		values
			( #{title}, #{introduction}, #{lesson_type}, 
			<if test="order_num != null and order_num != ''">
				#{order_num}, 
			</if>
			#{content}, #{user.USER_ID}, SYSDATE( ) )
	</insert>
	
	<select id="getInformationMap" parameterType="pd" resultType="pd">
		select
			a.id,
			a.title,
			a.lesson_type,
			a.introduction,
			a.content,
			( case a.order_num when 1000 then null else a.order_num end) order_num 
		from
			t_lesson_type_info a 
		where
			a.id = #{id}
	</select>
	
	<update id="updateInformation" parameterType="pd" >
		update t_lesson_type_info a 
		set a.title = #{title},
			a.lesson_type = #{lesson_type},
			a.introduction = #{introduction},
			a.content = #{content},
			<choose>
				<when test="order_num != null and order_num != ''">
					a.order_num = #{order_num},
				</when>
				<otherwise>
					a.order_num = 1000,
				</otherwise>
			</choose>	
			a.update_id = #{user.USER_ID},
			a.update_date = SYSDATE( ) 
		where
			a.id = #{info_id}
	</update>
	
	<insert id="saveInformationHis" parameterType="pd">
		insert into t_lesson_type_info_his ( id, title, introduction, lesson_type, order_num, content, rec_id, rec_date, update_id, update_date, del_id, del_date ) 
		select
			id,
			title,
			introduction,
			lesson_type,
			order_num,
			content,
			rec_id,
			rec_date,
			update_id,
			update_date,
			#{user.USER_ID},
			SYSDATE( ) 
		from
			t_lesson_type_info 
		where
			id =#{id};
	
		delete from t_lesson_type_info where id = #{id}
	</insert>
</mapper>